@{
	ViewData["Title"] = "Viewed";
}

<section class="section section--head section--head-fixed">
	<div class="container">
		<div class="row">
			<div class="col-12 col-xl-6">
				<h1 class="section__title section__title--head">Viewed</h1>
			</div>
		</div>
	</div>
</section>

<div class="catalog catalog--page">
    <div class="container">
        <div class="main__table-wrap">
            <table class="main__table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>MOVIE NAME</th>
                        <th>MESSAGE</th>
                        <th>LIKE / DISLIKE</th>
                        <th>CREATED DATE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><div class="main__table-text">1</div></td>
                        <td><div class="main__table-text">Hakuna Matata</div></td>
                        <td><div class="main__table-text">Hello World</div></td>
                        <td><div class="main__table-text">8 / 4</div></td>
                        <td><div class="main__table-text">22.07</div></td>
                    </tr>
                    <tr>
                        <td><div class="main__table-text">1</div></td>
                        <td><div class="main__table-text">Hakuna Matata</div></td>
                        <td><div class="main__table-text">Hello World</div></td>
                        <td><div class="main__table-text">8 / 4</div></td>
                        <td><div class="main__table-text">22.07</div></td>
                    </tr>
                    <tr>
                        <td><div class="main__table-text">1</div></td>
                        <td><div class="main__table-text">Hakuna Matata</div></td>
                        <td><div class="main__table-text">Hello World</div></td>
                        <td><div class="main__table-text">8 / 4</div></td>
                        <td><div class="main__table-text">22.07</div></td>
                    </tr>
                    <tr>
                        <td><div class="main__table-text">1</div></td>
                        <td><div class="main__table-text">Hakuna Matata</div></td>
                        <td><div class="main__table-text">Hello World</div></td>
                        <td><div class="main__table-text">8 / 4</div></td>
                        <td><div class="main__table-text">22.07</div></td>
                    </tr>
                    <tr>
                        <td><div class="main__table-text">1</div></td>
                        <td><div class="main__table-text">Hakuna Matata</div></td>
                        <td><div class="main__table-text">Hello World</div></td>
                        <td><div class="main__table-text">8 / 4</div></td>
                        <td><div class="main__table-text">22.07</div></td>
                    </tr>
                    <tr>
                        <td><div class="main__table-text">1</div></td>
                        <td><div class="main__table-text">Hakuna Matata</div></td>
                        <td><div class="main__table-text">Hello World</div></td>
                        <td><div class="main__table-text">8 / 4</div></td>
                        <td><div class="main__table-text">22.07</div></td>
                    </tr>
                    <tr>
                        <td><div class="main__table-text">1</div></td>
                        <td><div class="main__table-text">Hakuna Matata</div></td>
                        <td><div class="main__table-text">Hello World</div></td>
                        <td><div class="main__table-text">8 / 4</div></td>
                        <td><div class="main__table-text">22.07</div></td>
                    </tr>
                    <tr>
                        <td><div class="main__table-text">1</div></td>
                        <td><div class="main__table-text">Hakuna Matata</div></td>
                        <td><div class="main__table-text">Hello World</div></td>
                        <td><div class="main__table-text">8 / 4</div></td>
                        <td><div class="main__table-text">22.07</div></td>
                    </tr>
                    <tr>
                        <td><div class="main__table-text">1</div></td>
                        <td><div class="main__table-text">Hakuna Matata</div></td>
                        <td><div class="main__table-text">Hello World</div></td>
                        <td><div class="main__table-text">8 / 4</div></td>
                        <td><div class="main__table-text">22.07</div></td>
                    </tr>
                    <tr>
                        <td><div class="main__table-text">1</div></td>
                        <td><div class="main__table-text">Hakuna Matata</div></td>
                        <td><div class="main__table-text">Hello World</div></td>
                        <td><div class="main__table-text">8 / 4</div></td>
                        <td><div class="main__table-text">22.07</div></td>
                    </tr>
                    <tr>
                        <td><div class="main__table-text">1</div></td>
                        <td><div class="main__table-text">Hakuna Matata</div></td>
                        <td><div class="main__table-text">Hello World</div></td>
                        <td><div class="main__table-text">8 / 4</div></td>
                        <td><div class="main__table-text">22.07</div></td>
                    </tr>
                    <tr>
                        <td><div class="main__table-text">1</div></td>
                        <td><div class="main__table-text">Hakuna Matata</div></td>
                        <td><div class="main__table-text">Hello World</div></td>
                        <td><div class="main__table-text">8 / 4</div></td>
                        <td><div class="main__table-text">22.07</div></td>
                    </tr>
                    <tr>
                        <td><div class="main__table-text">1</div></td>
                        <td><div class="main__table-text">Hakuna Matata</div></td>
                        <td><div class="main__table-text">Hello World</div></td>
                        <td><div class="main__table-text">8 / 4</div></td>
                        <td><div class="main__table-text">22.07</div></td>
                    </tr>
                    <tr>
                        <td><div class="main__table-text">1</div></td>
                        <td><div class="main__table-text">Hakuna Matata</div></td>
                        <td><div class="main__table-text">Hello World</div></td>
                        <td><div class="main__table-text">8 / 4</div></td>
                        <td><div class="main__table-text">22.07</div></td>
                    </tr>
                    <tr>
                        <td><div class="main__table-text">1</div></td>
                        <td><div class="main__table-text">Hakuna Matata</div></td>
                        <td><div class="main__table-text">Hello World</div></td>
                        <td><div class="main__table-text">8 / 4</div></td>
                        <td><div class="main__table-text">22.07</div></td>
                    </tr>
                    <tr>
                        <td><div class="main__table-text">1</div></td>
                        <td><div class="main__table-text">Hakuna Matata</div></td>
                        <td><div class="main__table-text">Hello World</div></td>
                        <td><div class="main__table-text">8 / 4</div></td>
                        <td><div class="main__table-text">22.07</div></td>
                    </tr>
                    <tr>
                        <td><div class="main__table-text">1</div></td>
                        <td><div class="main__table-text">Hakuna Matata</div></td>
                        <td><div class="main__table-text">Hello World</div></td>
                        <td><div class="main__table-text">8 / 4</div></td>
                        <td><div class="main__table-text">22.07</div></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
</div>
